html, body{
    padding:0;
    margin: 0;
    border: 0;
}

body {
    background-color: white;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 4fr 5em;
    grid-template-areas:
        "header"
        "main"
        "footer";
        
}

header{
    background-color: red;
    color: rgb(255, 255, 255);
    margin: 0;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title nav";
}

.title-section{
    grid-area: title;
}

/* NAV */

.nav-section{
    grid-area: nav;
}

#navbar{
    /* flex:1; */
    display:flex;
    flex-direction: row;
    
}

.nav-item{
    /* flex:1; */
    width: 50%;
    height: 50%;
}

.nav-icon-container{
    padding: 1em 1em 0em 1em;
    /* border: 1px solid white; */
    
}

.nav-icon{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nav-icon-label{
    /* border: 1px solid white; */
    padding:0;
    margin: 0;
    text-align: center;
    height: 1em;
}

/* MAIN CONTENT */

main {
    grid-area: main;
}

footer {
    grid-area:footer;
}

.parent {
    width: 100%;
    display: grid;
    grid-template-columns: 50vh 1fr;
    grid-template-rows: 50vh auto;
    grid-template-areas:
        "albumCover  albumDetails"
        "albumSongs  albumReviews";
}
    
.album-cover {
    grid-area: albumCover;
    background-color:black;
}
.album-details { 
    grid-area: albumDetails;
    padding-top: 5em;
    padding-left: 5em;
    background-color:black;
    color:white;

}
.album-songs {
    grid-area: albumSongs;
}

.song-list{
    margin-top: 2em;
    list-style-type: none;
}

.album-reviews {
    grid-area: albumReviews;
    margin-left: 5em;
}

.review {
    padding-left: 5em;
    border-bottom: 2px solid black;
}

.flow-container{
    height: 100%;
    background-image: linear-gradient(black,white,black);
    background-size: 100%;
}

cover-flow{
    height: 100%;
    background-image: linear-gradient(black,white,black);
    background-size: 100%;
}

.image-wrapper{
    max-width: 100%;
    max-height:100%;
    overflow: hidden;
}

.album-image{
    width:100%;
    height:100%;
    object-fit: cover;

}

.detail-control{
    color:black;
    font-weight: bolder;
    font-size: 35pt;
    /* text-shadow: 1px 10px 5px rgba(0,0,0,1.0); */
    position:absolute;
    top:100%;
    left: 0;
    width: 45vw;
    margin-left: -100%;
    height: auto;
    text-align: center;
    transition: color 0.3s ease-in,text-shadow 0.3s ease-in;
    z-index: 2;
    transform: rotateX(45deg) translateZ(45px);
  
}

.detail-control:hover{
    color: white;
    -webkit-text-stroke: black 2px;
}

.delete-control{
    position:absolute;
    top:0;
    left: 100%;
}

.delete-control{
    transition: display 0.3s ease-in;
}

.album::after{
    content:"";
    display:block;
    background-image: inherit;
    background-size:inherit;
    height: 98%;
    width: 100%;
    position: absolute;
    bottom: -102%;
    transform:scaleY(-1);

    mask-image: linear-gradient(transparent,rgba(0,0,0,0.3), black);
    -webkit-mask-image: linear-gradient(transparent,rgba(0,0,0,0.3), black);
    mask-mode: alpha;
    webkit-mask-mode: alpha;
    mask-repeat: no-repeat;
    webkit-mask-repeat: no-repeat;
    mask-size: 200px;
    webkit-mask-size: 200px;
    mask-position: center;
    webkit-mask-position: center;
}